
<head th:fragment="headerdata (title)"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="icon" type="image/png" href="/img/Project_Logo.png">
<link rel="stylesheet" type="text/css" href="/css/custom-style.css"
	media="screen" />
<title th:text="${title}">Default-Title</title>
</head>

<th:block th:fragment="header">
	<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
		<a class="navbar-brand" href="/home"><img
			src="/img/Project_Logo_36.png" width="36" height="auto"
			alt="Logo der Seite"></a>
		<button class="navbar-toggler" type="button" data-toggle="collapse"
			data-target="#navbarText" aria-controls="navbarText"
			aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarText">
			<ul class="navbar-nav mr-auto">
				<li class="nav-item active"><a class="nav-link" href="/home">Home</a>
				</li>
				<li class="nav-item"><a class="nav-link active dropdown-toggle"
					data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"
					href="">Sportarten</a>
					<div class="dropdown-menu">
						<a class="dropdown-item"
							th:href="@{/games/search?type=Volleyball}">Volleyball</a> <a
							class="dropdown-item"
							th:href="@{/games/search?type=LeagueOfLegends}">League of
							Legends</a>
					</div></li>
				<li class="nav-item active"><a class="nav-link"
					href="/teams/search/all">Teams</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/games/search/all">Spiele</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/dataprotection">Datenschutz</a></li>
				<li class="nav-item active"><a class="nav-link"
					href="/impressum">Impressum</a></li>
			</ul>
			<th:block sec:authorize="isAnonymous()">
				<ul class="navbar-nav">
					<li class="nav-item active"><a class="nav-link"
						href="/registration">Registrieren</a></li>
					<li class="nav-item dropdown"><a
						class="nav-link active dropdown-toggle" data-toggle="dropdown"
						href="" aria-haspopup="true" aria-expanded="false">Anmelden</a>
						<div class="dropdown-menu dropdown-menu-right">
							<form th:action="@{/login}" method="POST" class="form-inline">
								<div class="row mx-auto">
									<div class="col">
										<input type="text" name="username" id="username"
											class="form-control" placeholder="Benutzername" />
									</div>
								</div>
								<div class="row mx-auto">
									<div class="col">
										<input type="password" name="password" id="password"
											class="form-control" placeholder="Passwort" />
									</div>
								</div>
								<div class="row mx-auto">
									<div class="col">
										<input type="checkbox" id="remember-me" name="remember-me">
										<label for="remember-me">Angemeldet bleiben?</label>
									</div>
								</div>
								<div class="row mx-auto">
									<div class="col">
										<button type="submit" class="btn btn-primary float-right">Einloggen</button>
									</div>
								</div>
							</form>
						</div></li>
				</ul>
			</th:block>
			<th:block sec:authorize="isAuthenticated()">
				<ul class="navbar-nav">
					<li class="nav-item"><a class="avatar" href="/profile"></a></li>
					<li class="nav-item"><a class="nav-link active"
						href="/profile"><span sec:authentication="name"></span></a>
					<li class="nav-item"><a class="nav-link active"
						th:href="@{/logout}">Ausloggen</a></li>
				</ul>
			</th:block>
		</div>
	</nav>
	<br>
</th:block>

<th:block th:fragment="footer">
	<div class="row">
		<div class="col">
			<div class="text-white fixed-bottom float-center bg-primary">
				<div class="uhr">&zwj;</div>
				<th:block sec:authorize="isAuthenticated()">
					<div class="nSpiel">&zwj;</div>
				</th:block>
			</div>
		</div>
	</div>
</th:block>

<th:block th:fragment="bootstrapcomponents">
	<script th:src="@{/webjars/jquery/3.3.1/jquery.min.js}"></script>
	<script th:src="@{/webjars/popper.js/1.14.7/popper.min.js}"></script>
	<script th:src="@{/webjars/bootstrap/4.3.1/js/bootstrap.min.js}"></script>
	<script>
		function update(date) {
			$(".uhr").html("Uhrzeit: " + 
					(date.getHours() < 10 ? "0" + date.getHours() : date.getHours())
							+ ":"
							+ (date.getMinutes() < 10 ? "0" + date.getMinutes()
									: date.getMinutes())
							+ ":"
							+ (date.getSeconds() < 10 ? "0" + date.getSeconds()
									: date.getSeconds()))
		}

		$(document).ready(function() {
			$.get("/api/uhrzeit").done(function(data) {
				var date = new Date(data)
				update(date)
				setInterval(function() {
					update(date)
					date.setSeconds(date.getSeconds() + 1);
				}, 1000)
			})

			$.get("/api/nextgame").done(function(data) {
				$(".nSpiel").html("Nächstes Spiel startet: " + data)
			})

			$.get("/api/id").done(function(data) {
				if (data != 0) {

					var img = $('<img id="dynamic" class="navbarimg">');
					img.attr("src", "/avatar/" + data);
					img.appendTo(".avatar");

				}

			})
		})
	</script>

</th:block>