<!DOCTYPE HTML>
<html>
<head th:fragment="headerdata (title)"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<script
	src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title th:text="${title}">Default-Title</title>
</head>
<body>
	<div th:fragment="header">
		<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
			<a class="navbar-brand" href="home">[o]</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse"
				data-target="#navbarText" aria-controls="navbarText"
				aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarText">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active"><a class="nav-link" href="/home">Home</a>
					</li>
					<li class="nav-item"><a
						class="nav-link active dropdown-toggle" data-toggle="dropdown"
						aria-haspopup="true" aria-expanded="false" href="">Sportarten</a>
						<div class="dropdown-menu">
							<a class="dropdown-item" href="/game/Volleyball">Volleyball</a>
						</div></li>
					<li class="nav-item active"><a class="nav-link"
						href="/teams/search/all">Teams</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/games/search/all">Spiele</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/dataprotection">Datenschutz</a></li>
					<li class="nav-item active"><a class="nav-link"
						href="/impressum">Impressum</a></li>
				</ul>
				<th:block sec:authorize="isAnonymous()">
					<ul class="navbar-nav">
						<li class="nav-item active"><a class="nav-link"
							href="registration">Registrieren</a></li>
						<li class="nav-item dropdown"><a
							class="nav-link active dropdown-toggle" data-toggle="dropdown"
							href="" aria-haspopup="true" aria-expanded="false">Anmelden</a>
							<div class="dropdown-menu dropdown-menu-right">
								<form th:action="@{/login}" method="POST" class="form-inline">
									<div class="container pb-3">
										<input type="text" name="username" id="username"
											class="form-control" placeholder="Benutzername" />
									</div>
									<p>
									<div class="container pb-3">
										<input type="password" name="password" id="password"
											class="form-control" placeholder="Passwort" />
									</div>
									<p>
									<div class="container">
										<button type="submit" class="btn btn-primary float-right">Einloggen</button>
									</div>
								</form>
							</div></li>
					</ul>
				</th:block>
				<th:block sec:authorize="isAuthenticated()">
					<ul class="navbar-nav">
						<li class="nav-item"><a class="nav-link active"
							href="/profile"><span sec:authentication="name"></span></a>
						<li class="nav-item"><a class="nav-link active"
							th:href="@{/logout}">Ausloggen</a></li>
					</ul>
				</th:block>
			</div>
		</nav>
	</div>
	<!-- oben neu ende -->
	<!-- Unteres Menü / Footer -->
	<!-- 
	Impressum
	Datenschutz
	Jump Up
	 -->

	<div th:fragment="footer" class="container pt-6">
		<!-- FOOTER DEAKTIVIERT
		<div class="container fixed-bottom float-center bg-info">
			<div class="col container">
				<div class="">
					<a href="datenschutz"><button class="btn btn-primary">Datenschutz</button></a>
				</div>
				<div class="">
					<a href="impressum"><button class="btn btn-primary">Impressum</button></a>
				</div>
			</div>
			<div class="col container">
				<div class="">
					<div sec:authorize="isAnonymous()">
						<a href="login"><button class="btn btn-primary">Einloggen</button></a>
					</div>
				</div>
				<div class="">
					<div sec:authorize="isAnonymous()">
						<a href="registration"><button class="btn btn-primary">Registrierung</button></a>
					</div>
				</div>
				<div class="">
					<div sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="POST">
							<button type="submit" class="btn btn-primary" value="Ausloggen">Ausloggen</button>
						</form>
					</div>
				</div>
			</div>
		</div> -->
	</div>

	<div th:fragment="bootstrapcomponents">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</div>
</body>
</html>