<!DOCTYPE HTML>
<html>
<head th:fragment="headerdata (title)"
	xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<meta charset="UTF-8">
<meta name="viewport"
	content="width=device-width, initial-scale=1, shrink-to-fit=no">

<!-- Bootstrap CSS -->
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
	integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
	crossorigin="anonymous">
<title th:text="${title}">Default-Title</title>
</head>
<body>
	<div th:fragment="header" class="container-fluid bg-info row">
		<div class="col container-fluid">
			<div class="float-left">
				<div class="dropdown">
					<button class="btn btn-success dropdown-toggle" type="button"
						id="dropdownmenu1" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Sport</button>

					<div class="dropdown-menu dropdown-menu-left"
						aria-labelledby="dropdownmenu1">Einträge</div>
				</div>
			</div>
			<div class="float-left">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownmenu2" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">eSport</button>
					<div class="dropdown-menu dropdown-menu-left"
						aria-labelledby="dropdownmenu2">Einträge2</div>
				</div>
			</div>
			<div class="float-left">
				<div sec:authorize="isAuthenticated()" class="dropdown">
					<button class="btn btn-danger dropdown-toggle" type="button"
						id="createGame" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Spiel erstellen</button>
					<div class="dropdown-menu dropdown-menu-left"
						aria-labelledby="createGame">
						<form th:action="@{/createGame}" method="POST">
							<form th:action="@{/selectGame}" method="POST">
								<select class="custom-select">
									<option disabled selected>Bitte Typ auswählen</option>
									<option value="volleyball">Volleyball</option>
									<option th:each="gametype : @{/game/gametypes}"
										th:text="${gameType}"></option>
								</select>
								<button type="submit" class="btn-primary">Auswählen</button>
							</form>
							<div
								th:replace="fragments/fragm_createGame :: newGame(gametype=@{/selectedGame})"></div>
							<button type="submit" class="btn btn-primary">Erstellen</button>
						</form>
					</div>
				</div>
			</div>
		</div>
		<div class="col container-fluid">
			<div class="float-right">
				<div class="dropdown">
					<button class="btn btn-primary dropdown-toggle" type="button"
						id="dropdownmenu3" data-toggle="dropdown" aria-haspopup="true"
						aria-expanded="false">Login-Bereich</button>
					<div class="dropdown-menu dropdown-menu-right"
						aria-labelledby="dropdownmenu3">
						<!-- Login -->
						<div sec:authorize="isAnonymous()">
							<form th:action="@{/login}" method="POST">
								<div class="container">
									<label for="username">Benutzername:</label><input type="text"
										name="username" id="username" class="form-control"
										placeholder="Benutzername" />
								</div>
								<div class="container">
									<label for="password">Passwort:</label><input type="password"
										name="password" id="password" class="form-control"
										placeholder="Passwort" />
								</div>
								<br>
								<div class="container">
									<button type="submit" class="btn btn-primary">Einloggen</button>
								</div>
							</form>
						</div>
						<!-- Login End -->
						<!-- Logout/Home -->
						<div sec:authorize="isAuthenticated()">
							<div>
								<!-- home -->
								<form th:action="@{/home}" method="GET">
									<button type="submit" class="btn btn-primary" value="Home">Zum
										Home</button>
								</form>
							</div>
							<br>
							<div>
								<!-- logout -->
								<form th:action="@{/logout}" method="POST">
									<button type="submit" class="btn btn-primary" value="Ausloggen">Logout</button>
								</form>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- Unteres Menü / Footer -->
	<!-- 
	Impressum
	Datenschutz
	Jump Up
	 -->

	<div th:fragment="footer" class="container-fluid">
		<div class="container-fluid fixed-bottom bg-info row">
			<div class="col container-fluid">
				<div class="float-left">
					<a href="datenschutz"><button class="btn btn-primary">Datenschutz</button></a>
				</div>
				<div class="float-left">
					<a href="impressum"><button class="btn btn-primary">Impressum</button></a>
				</div>
			</div>
			<div class="col container-fluid">
				<div class="float-right">
					<div sec:authorize="isAnonymous()">
						<a href="login"><button class="btn btn-primary">Einloggen</button></a>
					</div>
				</div>
				<div class="float-right">
					<div sec:authorize="isAnonymous()">
						<a href="registration"><button class="btn btn-primary">Registrierung</button></a>
					</div>
				</div>
				<div class="float-right">
					<div sec:authorize="isAuthenticated()">
						<form th:action="@{/logout}" method="POST">
							<button type="submit" class="btn btn-primary" value="Ausloggen">Ausloggen</button>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div th:fragment="bootstrapcomponents">
		<!-- Optional JavaScript -->
		<!-- jQuery first, then Popper.js, then Bootstrap JS -->
		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
			integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
			crossorigin="anonymous"></script>
		<script
			src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
			integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
			crossorigin="anonymous"></script>
		<script
			src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
			integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
			crossorigin="anonymous"></script>
	</div>
</body>
</html>