body {
    padding-bottom: 120px;
    font-size: 1rem;
}
.heading {
	font-size: 2rem;
}
.navbarimg {
	height: 40px;
	width: auto;
}
#progressbar-progress {
  width: 100%;
  background-color: #ddd;
}

#progressbar-bar{
  width: 1%;
  height: 30px;
  background-color: #4CAF50;
}

/*@media only screen {
	.txt {
		font-size: 1em;
	}
	.txt-small {
		font-size: 0.5em;
	}
}

@media only screen and (min-width: 576px) {
	.txt {
		font-size: 2em;
	}
	.txt-small {
		font-size: 1em;
	}
	.info {
		font-size: 12px;
	}
	
}

@media only screen and (min-width: 768px) {
	.txt {
		font-size: 3em;
	}
	.txt-small {
		font-size: 1.5em;
	}
}

@media only screen and (min-width: 992px) {
	.txt {
		font-size: 4em;
	}
	.txt-small {
		font-size: 2em;
	}
	.info {
		font-size: 14px;
	}
	
}

@media only screen and (min-width: 1200px) {
	.txt {
		font-size: 5em;
	}
	.txt-small {
		font-size: 2.5em;
	}
	.info {
		font-size: 15px;
	}
	
}
@media only screen {
	[class*="col-"] {
		font-size: 2em;
	}	
}

@media only screen and (min-width: 576px) {
	[class*="col-sm-"] {
		font-size: 2em;
	}
}

@media only screen and (min-width: 768px) {
	[class*="col-md-"] {
		font-size: 3em;
	}
}

@media only screen and (min-width: 992px) {
	[class*="col-lg-"] {
		font-size: 4em;
	}
}

@media only screen and (min-width: 1200px) {
	[class*="col-xl-"] {
		font-size: 5em;
	}
}*/