<!DOCTYPE html>
<html>
<div th:replace="fragments/general.html :: headerdata (title='Spiele')"></div>
<body>
	<div class="container">
		<div th:replace="fragments/general.html :: header"></div>
		<div class="input-group mb-3 justify-content-end">
			<form th:action="@{/games/search}" method="GET" class="form-inline">
				<input type="text" name="name" class="form-control"
					placeholder="Spiel suchen..." aria-label="Spiel suchen...">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form>
		</div>
		<div th:if="${games}">
			<th:block th:switch="${#lists.size(games)}">
				<div th:case="'0'">Keine Spiele gefunden</div>
				<div th:case="*">
					<table class="table">
						<thead class="thead-dark">
							<tr>
								<th scope="col">ID</th>
								<th scope="col">Sportart</th>
								<th scope="col">Spielname</th>
								<th scope="col">Datum</th>
								<th scope="col">Heim</th>
								<th scope="col">Gast</th>
							</tr>
						</thead>
						<tbody>
							<th:block th:each="game: ${games}">
								<th:block
									th:replace="fragments/fragm_game :: showGames(${game})"></th:block>
							</th:block>
						</tbody>
					</table>
				</div>
			</th:block>
		</div>

		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	</div>
</body>
</html>