<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div
	th:replace="fragments/general.html :: headerdata(title='Userbereich')"></div>
<body>
	<div th:replace="fragments/general.html :: header"></div>
	<h2>
		Hallo <span sec:authentication="name"></span>
	</h2>
	<h2>
		Deine Rollen: <span sec:authentication="principal.authorities"></span>
	</h2>
	<form th:action="@{/home}" method="GET">
		<select class="form-control" name="type">
			<option selected>Bitte Typ auswählen</option>
			<option th:each="gametype : ${gametypes}" th:text="${gametype}"
				th:value="${gametype}"></option>
		</select>
		<button type="submit" class="btn btn-primary">Auswählen</button>
	</form>
	<div th:if="${type != null}">
		<form th:action="@{/game}" method="POST" th:object="${gameForm}">
			<label>Spieltyp:</label><input disabled th:text="${type}" name="type"
				th:value="${type}"> <label>Startzeit:</label><input
				type="datetime" class="form-control" id="startDate" name="startDate">
			<label>Spielstatus:</label><input disabled type="text"
				class="form-control" id="status" name="status" value="PENDING">
			<label>Ersteller:</label><input disabled th:text="${name}"
				name="creator" th:value="${name}">
			<div th:include="fragments/fragm_createGame :: newGame"></div>
			<button type="submit" class="btn btn-primary" value="Spiel erstellen">Erstellen</button>
		</form>
	</div>


</body>
<div th:replace="fragments/general.html :: footer"></div>
<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
</html>