<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div
	th:replace="fragments/general.html :: headerdata(title='Userbereich')"></div>
<body>
	<div th:replace="fragments/general.html :: header"></div>
	<h2>
		Hallo <span sec:authentication="name"></span>
	</h2>
	<h2>
		Deine Rollen: <span sec:authentication="principal.authorities"></span>
	</h2>

	<button class="btn btn-danger dropdown-toggle" type="button"
		id="createGame" data-toggle="dropdown" aria-haspopup="true"
		aria-expanded="false">Spiel erstellen</button>
	<div class="dropdown-menu dropdown-menu-left"
		aria-labelledby="createGame">
		<!--  <a th:each="gametype :: @{game/gametypes}"></a>-->
		<form th:action="@{/createGame}" method="POST">
			<!-- <form th:action="@{/selectGame}" method="POST"> -->
				<select class="custom-select">
					<option disabled selected>Bitte Typ auswählen</option>
					<option th:each="gametype : ${gametypes}"
						th:text="${gameType}"></option>
				</select>
				<button type="submit" class="btn-primary">Auswählen</button>
			<!-- </form> -->
			<div
				th:replace="fragments/fragm_createGame :: newGame(gametype=${gametype})"></div>
			<button type="submit" class="btn btn-primary">Erstellen</button>
		</form>
	</div>


</body>
<div th:replace="fragments/general.html :: footer"></div>
<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
</html>