<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div
	th:replace="fragments/general.html :: headerdata(title='Userbereich')"></div>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/general.html :: header"></div>
		<div class="container">
			<h2>
				Willkommen in deinem Bereich <span sec:authentication="name"></span>!
			</h2>
			<h2>
				Deine Rollen: <span sec:authentication="principal.authorities"></span>
			</h2>
		</div>
		<div class="container">
			<form th:action="@{/home}" method="GET">
				<div class="input-group">
					<select class="custom-select" name="type">
						<option selected disabled="disabled">Bitte Typ
							auswählen...</option>
						<option th:each="gametype : ${gametypes}" th:text="${gametype}"
							th:value="${gametype}"></option>
					</select>
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary float-right">Auswählen</button>
					</div>
				</div>
			</form>
		</div>
		<div th:if="${type != null}" class="container">

			<div th:replace="fragments/fragm_createGame :: newGame"></div>

		</div>
		
		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>

	</div>
</body>
</html>