<!DOCTYPE html>
<html>
<div
	th:replace="fragments/general.html :: headerdata (title='Mitglied')"></div>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/general.html :: header"></div>
		<div th:if="${memberForm}">
			<div class="table-responsive-xs">
				<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Username</th>
						<th scope="col">Teams</th>
						<th scope="col">Spiele</th>
						<th scope="col">Verbundener Spielername</th>
						<th scope="col" th:if=${isCreator}>Passwort</th>
						<th scope="col" th:if="${isCreator}">E-Mail</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${memberForm.id}"></td>
						<td th:text="${memberForm.username}"></td>
						<td th:if="${memberForm.teams}">
							<div th:each="team: ${memberForm.teams}">
								<a th:href="@{'/team?id=' + ${team.id}}" th:text="${team.name}"></a>
							</div>
						</td>
						<td th:if="${memberForm.games}">
							<div th:each="game: ${memberForm.games}">
								<a th:href="@{'/game?id=' + ${game.id}}" th:text="${game.name}"></a>
							</div>
						</td>
						<td th:if="${memberForm.player}">
							<div th:text="${memberForm.player.name}">
							
							</div>
						</td>
						<td th:if="${isCreator}">
							*******
						</td>
						<td th:if="${isCreator}">
							<div th:text="${memberForm.email}"></div>
						
						</td>
					</tr>	
					<tr th:if="${isCreator}">
						<td>
				   		  <a href="#" class="btn btn-info btn-lg">
         					 <span class="glyphicon glyphicon-pencil"></span> &Auuml;ndern 
      					  </a>
						<td>
					</tr>
								
				</tbody>
			</table>
			</div>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	</div>
</body>
</html>