<!DOCTYPE html>
<html>
<div
	th:replace="fragments/general.html :: headerdata (title='Mitglied')"></div>
<body>
	<div class="container">
		<div th:replace="fragments/general.html :: header"></div>
		<div th:if="${playerForm}">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Username</th>
						<th scope="col">Teams</th>
						<th scope="col">Spiele</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${playerForm.id}"></td>
						<td th:text="${playerForm.name}"></td>
					</tr>				
				</tbody>
			</table>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	</div>
</body>
</html>