<!DOCTYPE html>
<html>
<div th:replace="fragments/general.html :: headerdata (title='Registrierung')" ></div>
<body>

	<div th:if="${param.error}" class="container text-danger text-center">
		Die Registrierung ist fehlgeschlagen!
	</div>
	
	<div th:if="${param.logout}" class="container text-success text-center">
		Die Registrierung war erfolgreich!
	</div>
	<BR>
	<div class="container text-center">
	<form th:action="@{/registration}" method="POST">
		<div class="col-auto text-center">
			<div class="">
				<label>Benutzername:</label>
			</div>
			<div class="">
				<input type="text" class="form-control" id="username" name="username"
					placeholder="Benutzernamen eingeben">
			</div>
		</div>
		<div class="col-auto text-center">
			<div class="">
				<label>E-Mail Adresse eingeben:</label>
			</div>
			<div class="">
				<input type="email" class="form-control" id="email" name="email"
					aria-describedby="emailHelp" placeholder="E-Mail eingeben">
			</div>
		</div>
		<!-- E-Mail Bestätigung noch nicht implementiert
		<div class="col-auto text-center">
			<div class="">
				<label>E-Mail Adresse bestätigen:</label>
			</div>
			<div class="">
				<input type="email" class="form-control" id="email2"
					aria-describedby="emailHelp" placeholder="E-Mail wiederholen">
			</div>
		</div>
		-->
		<div class="col-auto text-center">
			<div class="">
				<label for="inputPassword">Passwort eingeben:</label>
			</div>
			<div class="">
				<input type="password" class="form-control" id="password" name="password"
					placeholder="Passwort eingeben">
			</div>
		</div>
		<div class="col-auto text-center">
			<div class="">
				<label for="inputPassword">Passwort bestätigen:</label>
			</div>
			<div class="">
				<input type="password" class="form-control" id="passwordConfirm" name="passwordConfirm"
					placeholder="Passwort wiederholen">
			</div>
		</div>
		<BR>
		<button type="submit" class="btn btn-primary col" value="Registrieren">Absenden</button>

	</form>
</div>




	
<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
</body>
</html>