<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div
	th:replace="fragments/general.html :: headerdata(title='Teamübersicht')"></div>
<body>
	<div class="container">
		<div th:replace="fragments/general.html :: header"></div>
		<div class="input-group mb-3 justify-content-end">
			<form th:action="@{/teams/search}" method="GET" class="form-inline">
				<input type="text" name="name" class="form-control" placeholder="Team suchen..."
					aria-label="Team suchen...">
				<div class="input-group-append">
					<button class="btn btn-outline-primary" type="submit">
						<i class="fa fa-search"></i>
					</button>
				</div>
			</form>
		</div>

		<div th:if="${teams}">
			<th:block th:switch="${#lists.size(teams)}">
				<div th:case="'0'">Keine Teams gefunden</div>
				<div th:case="*">
					<th:block th:each="team: ${teams}">
						<th:block
							th:replace="fragments/fragm_team :: showTeam(${team.name}, ${team.id})"></th:block>
					</th:block>
				</div>
			</th:block>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	</div>
</body>
</html>