<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<div
	th:replace="fragments/general.html :: headerdata(title='Teamübersicht')"></div>
<body>
	<div class="container-fluid">
		<div th:replace="fragments/general.html :: header"></div>
		<nav class="navbar navbar-expand-lg navbar-dark bg-info">
			<!-- <div class="collapse navbar-collapse" id="navbarText"> -->
			<th:block sec:authorize="isAuthenticated()">
				<th:block th:if="${teams}">
					<form th:action="@{/team}" method="POST" th:object="${teamForm}">
						<ul class="navbar-nav mr-auto">
							<li><input type="text" class="form-control" id="name"
								name="name" placeholder="Teamname"></li>
							<li><input class="form-control jscolor" name="teamcolor"
								value="FFFFFF"></li>
							<li><button type="submit" class="btn btn-primary"
									value="Team erstellen">Team erstellen</button></li>
						</ul>
					</form>
				</th:block>
				<th:block th:if="${teamForm}">
					<form th:action="@{'/player?tid=' + ${teamForm.id}}" method="POST"
						th:object="${playerForm}">
						<ul class="navbar-nav mr-auto">
							<li><input type="text" name="name" id="name"
								class="form-control" placeholder="Spielernamen"></li>
							<li>
								<button type="submit" class="btn btn-primary float-right">Hinzuf&uuml;gen</button>
							</li>
						</ul>
					</form>
				</th:block>
			</th:block>
			<form th:action="@{/teams/search}" method="GET">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item">
						<div class="input-group">
							<input type="text" name="name" class="form-control"
								placeholder="Team suchen..." aria-label="Team suchen...">
							<div class="input-group-append">
								<button class="btn btn-outline-light" type="submit">
									<i class="fa fa-search"></i>
								</button>
							</div>
						</div>
					</li>
				</ul>
			</form>
		</nav>
		<div class="container"></div>
		<div th:if="${teams}">
			<th:block th:switch="${#lists.size(teams)}">
				<div th:case="'0'">Keine Teams gefunden</div>
				<div th:case="*">
					<th:block th:each="team: ${teams}">
						<div th:text="${team.id}"
							th:style="'background-color: ' + ${team.getTeamcolor()} + ';'"></div>
						<a th:href="@{'/team?id=' + ${team.id}}" th:text="${team.name}"
							class="container"></a>
						<div th:each="player : ${players}" th:value="${player}"></div>
						<div class="dropdown-divider pb-3"></div>
					</th:block>
				</div>
			</th:block>
		</div>
		<div th:if="${teamForm}" th:object="${teamForm}">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Heimspiele</th>
						<th scope="col">Auswärtsspiele</th>
						<th scope="col">Farbe</th>
						<th scope="col">Mitglieder</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="*{id}"></td>
						<td th:text="*{name}"></td>
						<td th:if="*{homegames}">
							<div th:each="homegame : *{homegames}">
								<a th:href="@{'/game?id=' + ${homegame.id}}"
									th:text="${homegame.name}"></a>
							</div>
						</td>
						<td th:if="*{awaygames}">
							<div th:each="awaygame : *{awaygames}">
								<a th:href="@{'/game?id=' + ${awaygame.id}}"
									th:text="${awaygame.name}"></a>
							</div>
						</td>
						<td text="     "
							th:style="'background-color: ' + ${teamForm.teamcolor} + ';'"></td>
						<td th:if="*{players}">
							<div th:each="player: ${teamForm.players}">
								<div th:if="${player.member}">
									<a th:href="@{'/member?id=' + ${player.member.id}}"
										th:text="${player.name}"></a>
								</div>
								<div th:unless="${player.member}" th:text="${player.name}">

								</div>
							</div>
						</td>
					</tr>
				</tbody>
			</table>
		</div>

		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
		<script th:src="@{~/js/jscolor.js}" src="../../static/js/jscolor.js"></script>
	</div>
</body>
</html>