<!DOCTYPE html>
<html>
<div
	th:replace="fragments/general.html :: headerdata (title='Team')"></div>
<body>
	<div class="container">
		<div th:replace="fragments/general.html :: header"></div>
		<div th:if="${teamForm}">
			<table class="table">
				<thead class="thead-dark">
					<tr>
						<th scope="col">ID</th>
						<th scope="col">Name</th>
						<th scope="col">Farbe</th>
						<th scope="col">Mitglieder</th>
					</tr>
				</thead>
				<tbody>
					<tr>
						<td th:text="${teamForm.id}"></td>
						<td th:text="${teamForm.name}"></td>						
						<td text="     " th:style="'background-color: ' + ${teamForm.teamcolor} + ';'"></td>
						<td th:if="${teamForm.players}">
						<div th:each="player: ${teamForm.players}">
							<a th:href="@{'/player?id=' + ${player.id}}" th:text="${player.name}"></a>
						</div>
						</td>
					</tr>				
				</tbody>
			</table>
		</div>
		<div th:replace="fragments/general.html :: footer"></div>
		<div th:replace="fragments/general.html :: bootstrapcomponents"></div>
	</div>
</body>
</html>